node_modules/
!node_modules/@vscode/codicons/dist/codicon.css
!node_modules/@vscode/codicons/dist/codicon.ttf
src/
test/
out/test/
.vscode-test/
artifacts/
media/monaco/
demo/
*.map
**/*.map
*.log
*.vsix
.env
.env.*
.npmrc
.pypirc
*.pem
*.key
*.crt
*.p12
*.pfx
*.token
*.secret
id_rsa*
id_dsa*
id_ecdsa*
id_ed25519*
resources/*.svg
!resources/activity-icon.svg
!resources/brand-mark.svg
!resources/brand-mark-compact.svg
!resources/process-icons.svg
!resources/review-icon-dark.svg
!resources/review-icon-light.svg
tsconfig.json
package-lock.json
